@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
body {
  margin: 0;font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}