@import-normalize; /* bring in normalize.css styles */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Fredoka+One&display=swap");
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Comfortaa", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #bbded6;
  height: 100%;
}
